body {
}
form {
}
button {
}

footer {
}
li {
  list-style: none;
}
h1 {
  font-size: 50px;
  padding: 0 auto;
}

.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #babab9;
  border-radius: 20px;
}

.forecast {
  font-family: "Roboto Slab", serif;
  padding: 100px 10px 10px;
}

.high-low {
  padding: 170px 0px 0px 50px;
}

.current-weather {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 400px;
  max-width: 600px;
  opacity: 0.6;
}

.header {
  text-align: center;
  padding: 50px 0px 0px 0px;
}

.temperature {
  text-align: center;
}

.row {
}

.col {
  text-align: center;
}

.weather-forecast {
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
}

.rounded-circle {
  max-width: 50px;
}

.date {
  font-family: "Roboto Slab", serif;
}
