body {
}
form {
}
button {
}

footer {
}

h1 {
  font-size: 50px;
  padding: 0 auto;
}

.forecast {
  font-family: "Roboto Slab", serif;
  padding: 100px 10px 10px;
}

.high-low {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  padding: 0px 100px 150px;
}

.current-weather {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 400px;
  max-width: 600px;
  opacity: 0.6;
}

.header {
  text-align: center;
  padding: 50px 0px 0px 0px;
}

.temperature {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.row {
}

.col {
  text-align: center;
}

.weather-forecast {
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
}

.rounded-circle {
  max-width: 50px;
}

.date {
  font-family: "Roboto Slab", serif;
}
